.contact {
    padding: 30px 10%;
   background-color: #CDD3DD;
}

.contactForm {
    display: flex;
}
.contact h2{
    font-weight: 500;
    color: #202E44;
    padding: 10px 0px;
}

.contactForm>div form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, white, #8098B5 );
    padding: 40px;
    border-radius: 5px;
   
}

.contactForm>div form button {
    padding: 10px 0px;
    background: linear-gradient(90deg, #8098B5 35%, #F5F5F5 100%);
    color: white;
    border: 1px solid #6E7580;
    font-size: 20px;
    border-radius: 3px;
}

.contactForm>div form button:hover {
    transition: all 900ms;
    color: #8098B5;
    font-weight: bold;
    background: linear-gradient(90deg, #F5F5F5 35%, #8098B5 100%);
    border: 1px solid #8098B5;
}

.contactForm>div input {
    border: 1px solid #8098B5;
    padding: 5px 10px;
    height: 40px;

}
.contactForm>div input:focus{
    outline: none;
}

.contactForm>div textarea {
    outline: none;
    padding: 5px 10px;
    height: 80px;
    border: 1px solid #8098B5;
    border-radius: 2px;
}

.contactForm>div {
    width: 50%;
}
.contactForm>div svg{
    font-size: 40px;
}
.contactForm>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactForm>div p {
    margin: 0px;
    font-size: 20px;

}
.resumeDownloadbtnincontact {
    border: 1px solid #8098B5;
    text-decoration: none;
    color: white;
    padding: 10px 150px;
    background: linear-gradient(90deg, #8098B5 35%, #F5F5F5 100%);
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

.resumeDownloadbtnincontact:hover {
    transition: all 900ms;
    color: #8098B5;
    font-weight: bold;
    background: linear-gradient(90deg, #F5F5F5 35%, #8098B5 100%);

}

@media (max-width:900px) {
    .resumeDownloadbtnincontact {
        padding: 10px 100px;
    }
}

@media(max-width:767px) {
    .contactForm>div {
        width: 100%;
    }

    .contactForm {
        flex-direction: column;
    }

    .contactForm {
        gap: 30px;
    }
 
}

@media(max-width:480px) {
    .contactForm>div p {
        font-size: 15px;
    }

}

.thankyou {
    /* border: 1px solid red; */
    text-align: center;
    background-color: #8098B5;
    color: white;
    /* background: linear-gradient(90deg, #8098B5 35%, #F5F5F5 100%); */
}