.project {
    /* width: 90%; */
    margin: auto;
  
}
.projectcontainer{
    width: 90%;
    margin: auto;
}

.fixed-container-project{
    /* background-image: url('https://wallpaperaccess.com/full/2449594.jpg'); */
    background-image: url('https://img.freepik.com/premium-vector/global-network-connections-with-points-lines-wireframe-background-abstract-connection-structure-polygonal-space-background_230610-123.jpg?w=900');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 50px 0px;
}

.projectcontainer>div {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.slidercontainer img {
    width: 100%;
    height: 295px;
}

.projectdiv>div {
    width: 50%;
    height: 300px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #CDD3DD, #8098B5);
    background-color: rgba(255, 255, 255, 0.733)
}
 
.projectdiv>div p {
    margin: 0px;
    padding: 0px;
}

.projectdiv>div:nth-child(2) img {
    width: 30px;
}

.projectdiv>div:nth-child(2) {
    padding: 0px 10px;
    color: #6E7580;
    /* background-color: rgba(0, 0, 0, 0.581); */
}

.projectdiv>div:nth-child(2) p:nth-child(1) {
    font-size: 40px;
    font-weight: 500;
    margin: 5px 0px;
    /* margin-top: 35px; */
}

.projectdiv>div:nth-child(2) p:nth-child(1):hover {
    transition: all 900ms;
    color: #8098B5;
}

.projectdiv>div:nth-child(2) p:nth-child(2):hover {
    transition: all 900ms;
    color: #8098B5;
}

.projectdiv>div:nth-child(2) p:nth-child(2) {
    margin: 10px 0px 15px 0px;
}

.projectdiv button {
    background: none;
}

.techstacks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.twobtns {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.twobtns a {
    /* border: 1px solid red; */
    padding: 10px 30px;
    text-decoration: none;
    background: linear-gradient(90deg, #8098B5 35%, #F5F5F5 100%);
    color: white;
    border: 1px solid #6E7580;
}

.twobtns a:hover {
    transition: all 900ms;
    color: #6E7580;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg, #F5F5F5 35%, #8098B5 100%);
}

.project h2 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #202E44;
    margin-left: 5%;
}

@media (max-width:900px) {
    .projectdiv>div:nth-child(2) p:nth-child(1) {
        font-size: 30px;
    }

    .projectdiv>div:nth-child(2) p:nth-child(2) {
        font-size: 14px;
    }

    .projectdiv>div:nth-child(2) img {
        width: 28px;
    }
}

@media (max-width:700px) {
    .projectcontainer>div {
        flex-direction: column;
    }

    .projectcontainer>div>div {
        width: 100%;
    }

    .projectdiv>div:nth-child(2) {
        width: 100%;
    }

    .projectdiv>div:nth-child(2) p:nth-child(1) {
        font-size: 40px;
    }

}

@media (max-width:400px) {
    .projectdiv>div:nth-child(2) p:nth-child(1) {
        font-size: 30px;
    }
}