.about {
    margin: 150px 0px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #4042DD, #12BAF4);
    background: linear-gradient(90deg, rgba(64,67,221,1) 35%, rgba(17,188,244,1) 100%);
    color: white;
}
#darkabout{
    background: linear-gradient(90deg, rgba(64, 67, 221, 0.576) 35%, rgba(17, 187, 244, 0.635) 100%);
}
.about div {
    /* border: 2px solid #3a50e0; */
    width: 80%;
    padding: 1%;
    z-index: 4;
    border-radius: 7px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


@media(max-width:480px) {
    .about {
        font-size: 16px;
    }
}
