.waiveLine {
    width: 100%;
    position: absolute;
    top: 5%;
    z-index: 1;
}

.home {
    padding-bottom: 80px;
    margin-top: 40px;
}

.homelogos {
    font-size: 50px;
}

.body>div:nth-child(1)>div {
    /* border: 1px solid magenta; */
    display: flex;
    height: 100%;

}

.body>div:nth-child(1)>div>div:nth-child(1)>div {
    padding-left: 15%;
}

.body>div:nth-child(1)>div>div:nth-child(1)>div {
    /* border: 1px solid rgb(190, 129, 129); */
    line-height: 14px;
    z-index: 11;
    margin: 10% 0px;
    width: 100%;
}

.body>div:nth-child(1)>div>div:nth-child(1)>div h1 {
    font-size: 40px;
    line-height: 30px;
}

.body>div:nth-child(1)>div>div {
    /* border: 1px solid maroon; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.reactLogo {
    height: 50px;
    position: absolute;
    top: 24%;
    right: 32%;
    z-index: 5;
}

.reduxlogo {
    height: 50px;
    position: absolute;
    top: 59%;
    right: 7%;
    z-index: 5;
}

.jslogo {
    height: 50px;
    position: absolute;
    top: 46%;
    right: 41%;
    z-index: 5;
}

.csslogo {
    height: 59px;
    position: absolute;
    top: 156px;
    right: 72px;
    z-index: 5;
}

.picbackground {
    position: absolute;
    top: 72px;
    width: 33%;
}

.pic {
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 50%;
    z-index: 3;
}

@media (max-width:920px) {
    .picbackground {
        top: 84px;
    }
}

@media (max-width:880px) {
    .picbackground {
        top: 109px;
    }
}

@media(max-width:767px) {
    .picbackground {
        width: 62%;
    }

    .waiveLine {
        top: 20%;
    }

    .body>div:nth-child(1)>div {
        flex-direction: column-reverse;

    }

    .body>div:nth-child(1)>div>div {
        /* border: 1px solid hsl(0, 100%, 25%); */
        width: 100%;
    }

    .reactLogo {
        height: 44px;
        top: 20%;
        right: 62%;
    }

    .jslogo {
        height: 40px;
        position: absolute;
        top: 37%;
        right: 83%;
    }

    .reduxlogo {
        right: 15%;
    }

    .csslogo {
        height: 10%;
        top: 10%;
    }
}

@media (max-width:540px) {
    .picbackground {
        top: 86px;
        width: 62%;
    }
}

@media(max-width:480px) {
    .body>div:nth-child(1)>div {
        padding-bottom: 30px;
    }

    .reactLogo {
        height: 27px;
        top: 10%;
        right: 63%;
    }

    .homelogos {
        font-size: 35px;
    }

    .jslogo {
        height: 27px;
        top: 27%;
        right: 80%;
    }

    .reduxlogo {
        height: 27px;
        top: 33%;
        right: 15%;
    }

    .csslogo {
        height: 40px;
        top: 10%;
        right: 10%;
    }

    .waiveLine {
        top: 10%;
    }

    .body>div:nth-child(1)>div>div:nth-child(1)>div h1 {
        font-size: 30px;
    }

    .picbackground {
        width: 63%;
        top: 72px;
    }

}

@media (max-width:370px) {
    .picbackground {
        top: 67px;
    }
}

@media(max-width:280px) {
    .picbackground {
        top: 62px;

    }
}

#homeresume {
    position: relative;
    top: 40px;
    border-radius: 5px;
}